.App {
  text-align: center;
  overflow-x: hidden;
}
::placeholder{
  color:rgb(0, 191, 255);
}
h2{
  border-color: rgb(235, 110, 131);
  border-style: dotted;
  border-width: 5px;
  width: fit-content;
  margin: auto;
  padding:5px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/*
  The top blue square, includes a text element
*/
.part{
  width: 13vw;
  padding-top: calc(13vh - 1.85vw);
  padding-bottom: calc(13vh - 1.85vw);
  background-color: #61dafb;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.App-link {
  color: #61dafb;
}
button{
  background-color: rgb(56, 222, 56);
  width:fit-content;
  height: fit-content;
  font-weight: bold;
  font-size: 2vw;
  border: 3px solid black;
  border-radius:12%;
  box-shadow: 1px 2px;
  margin-top: 3vh;
  text-align: center;
  justify-content:center;
}
button:hover{
  background-color: lightgreen;
  color:rgb(57, 54, 54);
}
/*
  The text box that is in the top blue square
*/
text{
  font-size: 2.75vw;
  color:darkblue;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
/*
  the bottom blue sqaure, this is an input element
*/
input{
  font-size: 3.7vw;
  min-width: 13vw;
  max-width: 13vw;
  min-height: 26vh;
  max-height: 26vh;
  width: max-content;
  background-color: #61dafb;
  text-align: center;
  border-width: 0;
  color:darkblue;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
